
<h1 class="aninmated fadeIn fast ">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae animi, eius est similique fuga accusantium corporis ullam eligendi velit aperiam harum doloribus, unde atque eos excepturi, ipsa vitae sint quaerat?
</p>
