<h1> Buscando :  {{termino}} <small>Marvel y DC</small> </h1>
<hr>

<div *ngIf="heroes.length == 0" class="row animated fadeIn">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino {{termino}}
        </div>
    </div>
</div>
<div class="card-columns">

    <app-heroe-tarjeta [heroe]="heroe" [i]="heroe.idx" *ngFor="let heroe of heroes;" ></app-heroe-tarjeta>

</div>