<div class="jumbotron jumbotron-fluid animated fadeIn ">
    <div class="container">
      <h1 class="display-4">Comic App</h1>
      <p class="lead">App de Comics en Agular SPA.</p>
    </div>
  </div>